<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Job Portal | Login</title>

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>


<body>

<div class="container">


<!-- Left Panel -->

<div class="left-panel">

<div class="overlay">

<i class="fa-solid fa-briefcase logo-icon"></i>

<h1>AI Job Portal</h1>

<p>
Find Your Dream Job with Artificial Intelligence
</p>


<img src="{% static 'images/login.avif' %}" alt="Login Image">

</div>

</div>



<!-- Right Panel -->

<div class="right-panel">


<!-- Login Form -->

<form method="POST" action="{% url 'login' %}" class="login-form">

{% csrf_token %}


<h2>Welcome Back</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<p>Login to continue</p>



<div class="input-box">

<i class="fa fa-user"></i>

<input 
type="text"
name="username"
placeholder="Email"
required>

</div>



<div class="input-box">

<i class="fa fa-lock"></i>

<input
type="password"
name="password"
id="loginPassword"
placeholder="Password"
required>


<span class="toggle-password">

<i class="fa fa-eye"></i>

</span>


</div>



<div class="options">


<label>

<input type="checkbox">

Remember Me

</label>

<a href="#">
Forgot Password?
</a>

</div>

<button type="submit">

Login

</button>

<div class="divider">

<span>OR</span>

</div>



<div class="social-login">

<button
type="button"
class="google"
    onclick="window.open('https://www.google.com','_blank')">

        <i class="fab fa-google"></i>

        Google

    </button>


    <button
    type="button"
    class="linkedin"
    onclick="window.open('https://www.linkedin.com/login','_blank')">

        <i class="fab fa-linkedin"></i>

        LinkedIn

    </button>

</div>
<p class="switch-text">

Don't have an account?

<a href="{% url 'register' %}">
         
Register

</a>


</p>


</form>





<a href="{% url 'home' %}" class="back-btn">

← Back to Home

</a>


</div>


</div>



<script src="{% static 'js/login.js' %}"></script>


</body>

</html>